#!/usr/bin/make -f

export DH_OPTIONS
export DH_GOPKG := github.com/dgrijalva/jwt-go

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install
	rm -rf ${CURDIR}/debian/golang-github-dgrijalva-jwt-go-dev/usr/bin
